{% extends "base.html" %}
{% block title %}Página Inicial do Candidato{% endblock %}
{% block body %}
    <strong>Nome: </strong>{{lista.nome}}<br>
    <strong>CPF: </strong>{{lista.cpf}}<br>
    <strong>Endereço: </strong>{{lista.endereco}}<br>
    <strong>Matrícula: </strong>{{lista.matricula}}<br>
    <strong>Sexo: </strong>{{lista.sexo}}<br>
    <strong>Data de Nascimento: </strong>{{lista.dta_nascimento}}<br>
    <strong>Curriculo: </strong>{{lista.curriculo}}<br>
    <strong>Celular: </strong>{{lista.celular}}<br>
    <br><a href="{% url 'inscricao:efetuar_inscricao' %}">Efetuar Inscrição</a>
    <br><a href="{% url 'candidato:atualiza_candidato' lista.pk %}">Atualizar dados</a>
{% endblock %}