{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<link href="{% static "styles/bootstrap.css" %}" rel="stylesheet">
		<link href="{% static "styles/main.css" %}" rel="stylesheet">
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		<div class="container">
			<div class="header">
				<ul class="nav nav-pills pull-right">
					<li class=""><a href="{% url 'candidato:dashboard' %}">{{ usuario_logado }}</a></li>
					<li class=""><a href="{% url 'logout' %}">Logout</a></li>
				</ul>
				<h3 class="text-muted">Sistema de Inscrição em Eventos .: SIE</h3>
			</div>
			{% for message in messages %}
        		<div class="alert alert-{{ message.tags }}">{{ message }}</div>
    		{% endfor %}
			<div class="row content">
				{% block body %}
				{% endblock %}
			</div>

		</div>

	</body>
</html>