{% extends "base.html" %}
{% block title %}Comprovante de Inscrição{% endblock %}
{% block body %}
        <strong>Número de Inscricao:</strong> {{inscricao.id}}<br>
        <strong>Nome do candidato:</strong> {{inscricao.candidato}}<br>
        <strong>Evento:</strong> {{inscricao.evento}}<br>
        <strong>Curso:</strong> {{inscricao.curso}}<br>
        <strong>Data da inscrição:</strong> {{inscricao.dta_inscricao}}<br>
        <input type="button" value="Imprimir em HTML" onClick="window.print()" />
        <input type="button" value="Imprimir em PDF" onClick="window.print()" />
{% endblock %}


